# <font color="darkgreen">Data Preperation Exercises</font>

The end result of this exercise should be a file named `prepare.py` that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

In [8]:
# Imports
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

### <font color ="blue"> 1. Define a function named `basic_clean`. It should take in a string and apply some basic text cleaning to it:
* Lowercase everything
* Normalize unicode characters
* Replace anything that is not a letter, number, whitespace or a single quote.</font>

In [9]:
original = "Paul Erdős and George Pólya are influential Hungarian mathematicians who contributed a lot to the field. Erdős's name contains the Hungarian letter 'ő' ('o' with double acute accent), but is often incorrectly written as Erdos or Erdös either by mistake or out of typographical necessity"
original

"Paul Erdős and George Pólya are influential Hungarian mathematicians who contributed a lot to the field. Erdős's name contains the Hungarian letter 'ő' ('o' with double acute accent), but is often incorrectly written as Erdos or Erdös either by mistake or out of typographical necessity"

In [10]:
# Lowercase all letters in the text
article =  original.lower()
article

"paul erdős and george pólya are influential hungarian mathematicians who contributed a lot to the field. erdős's name contains the hungarian letter 'ő' ('o' with double acute accent), but is often incorrectly written as erdos or erdös either by mistake or out of typographical necessity"

In [11]:
# Remove inconsistencies in unicode character encoding.
# encode the strings into ASCII bytestrings (ignore non-ASCII characters)
# decode the bytestring into (Unicode) string

article = unicodedata.normalize('NFKD', article)\
.encode('ascii', 'ignore')\
.decode('utf-8', 'ignore')


article

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field. erdos's name contains the hungarian letter 'o' ('o' with double acute accent), but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [12]:
# remove anything that is not a through z, a number, a single quote, or whitespace

article = re.sub(r"[^a-z0-9'\s]", '', article)
article

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [15]:
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    string = unicodedata.normalize('NFKC', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    string = re.sub(r'[^\w\s]', '', string).lower()
    return string

In [16]:
basic_clean(article)

'paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdoss name contains the hungarian letter o o with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity'

### <font color ="blue"> 2. Define a function named `tokenize`. It should take in a string and tokenize all the words in the string.

In [17]:
# Create the tokenizer
tokenizer = nltk.tokenize.ToktokTokenizer()

# Use the tokenizer
tokenizer.tokenize(article, return_str = True)

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [18]:
#Tokenize function
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # Use tokenizer
    string = tokenizer.tokenize(string, return_str=True)
    
    return string

In [19]:
tokenize(article)

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### <font color ="blue">3. Define a function named `stem`. It should accept some text and return the text after applying stemming to all the words.

In [20]:
# Create porter stemmer.

ps = nltk.porter.PorterStemmer()

In [21]:
# Apply the stemmer to each word in our string.

stems =[ps.stem(word) for word in article.split()]
stems[:10]

['paul',
 'erdo',
 'and',
 'georg',
 'polya',
 'are',
 'influenti',
 'hungarian',
 'mathematician',
 'who']

In [22]:
# Join our lists of words into a string again

article_stemmed =  ' '.join(stems)
article_stemmed

"paul erdo and georg polya are influenti hungarian mathematician who contribut a lot to the field erdos' name contain the hungarian letter 'o' 'o' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

In [23]:
#Stem function
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    
    # Use the stemmer to stem each word in the list of words we created by using split.
    stems = [ps.stem(word) for word in string.split()]
    
    # Join our lists of words into a string again and assign to a variable.
    string = ' '.join(stems)
    
    return string

In [24]:
stem(article)

"paul erdo and georg polya are influenti hungarian mathematician who contribut a lot to the field erdos' name contain the hungarian letter 'o' 'o' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

### <font color ="blue"> 4. Define a function named `lemmatize`. It should accept some text and return the text after applying lemmatization to each word.

In [25]:
# Download the first time.
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/brandonbryant/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [26]:
# Create the Lemmatizer.

wnl = nltk.stem.WordNetLemmatizer()

In [27]:
# Check lemmatizer. It works.

wnl.lemmatize('influence')

'influence'

In [28]:
# Use the lemmatizer on each word in the list of words we created by using split.

lemmas = [wnl.lemmatize(word) for word in article.split()]
lemmas[:10]

['paul',
 'erdos',
 'and',
 'george',
 'polya',
 'are',
 'influential',
 'hungarian',
 'mathematician',
 'who']

In [29]:
# Join our list of words into a string again; assign to a variable to save changes.

article_lemmatized = ' '.join(lemmas)
article_lemmatized

"paul erdos and george polya are influential hungarian mathematician who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

In [30]:
#Lemmatize fucntion
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # Create the lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    # Join our list of words into a string again and assign to a variable.
    string = ' '.join(lemmas)
    
    return string

In [31]:
lemmatize(article)

"paul erdos and george polya are influential hungarian mathematician who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

### <font color ="blue"> 5. Define a function named `remove_stopwords`. It should accept some text and return the text after removing all the stopwords.</font>
- This function should define two optional parameters, `extra_words` and `exclude_words`. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [32]:
# standard English language stopwords list from nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords


stopword_list = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/brandonbryant/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [33]:
stopword_list[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [34]:
len(stopword_list)

179

In [35]:
# Split words in lemmatized article.

words = article_lemmatized.split()
words[:10]

['paul',
 'erdos',
 'and',
 'george',
 'polya',
 'are',
 'influential',
 'hungarian',
 'mathematician',
 'who']

In [36]:
# Create a list of words from my string with stopwords removed and assign to variable.

filtered_words = [word for word in words if word not in stopword_list]
filtered_words[:10]

['paul',
 'erdos',
 'george',
 'polya',
 'influential',
 'hungarian',
 'mathematician',
 'contributed',
 'lot',
 'field']

In [37]:
# Join words in the list back into strings; assign to a variable to keep changes.

article_without_stopwords = ' '.join(filtered_words)
article_without_stopwords

"paul erdos george polya influential hungarian mathematician contributed lot field erdos's name contains hungarian letter 'o' 'o' double acute accent often incorrectly written erdos erdos either mistake typographical necessity"

In [38]:

def remove_stopwords(string, extra_words=[], exclude_words=[]):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # Create stopword_list.
    stopword_list = stopwords.words('english')
    
    # Remove 'exclude_words' from stopword_list to keep these in my text.
    stopword_list = set(stopword_list) - set(exclude_words)

    # Add in 'extra_words' to stopword_list.
    stopword_list = stopword_list.union(set(extra_words))
    
    # Split words in string.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings and assign to a variable.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [39]:
remove_stopwords(article)

"paul erdos george polya influential hungarian mathematicians contributed lot field erdos's name contains hungarian letter 'o' 'o' double acute accent often incorrectly written erdos erdos either mistake typographical necessity"

### <font color ="blue"> 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe 'news_df'.

In [49]:
import warnings
warnings.filterwarnings('ignore')

In [50]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
from acquire import get_all_news_articles,acquire_news_articles, get_blog_articles
news_df = acquire_news_articles()
news_df

,title,content,category
0,Air India pilots demand vaccination on priorit...,Indian Commercial Pilots Association (ICPA) on...,business
1,India underestimated the coronavirus: Raghuram...,"Speaking about India's second COVID-19 wave, f...",business
2,South Korea's richest woman gets fortune worth...,South Korea’s richest woman Hong Ra-hee added ...,business
3,World's biggest jeweller says it will no longe...,"Pandora, the world's biggest jeweller, has sai...",business
4,"Will supply 11 cr doses to states, pvt hospita...",Serum Institute of India (SII) CEO Adar Poonaw...,business
...,...,...,...
142,Germany's Oktoberfest cancelled again in 2021 ...,"Germany's Oktoberfest, the world's largest bee...",world
143,Further violence in Myanmar could lead to civi...,China's Ambassador to the UN Zhang Jun on Mond...,world
144,Flash floods kill at least 12 in western Afgha...,At least 12 people were killed by flash floods...,world
145,Iraqi Health Minister resigns over hospital fi...,Iraq's Health Minister Hassan al-Tamimi steppe...,world
146,Myanmar indicts Japanese journalist on 'fake n...,Japanese journalist Yuki Kitazumi detained by ...,world

### <font color ="blue"> 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [52]:
from acquire import acquire_codeup_blog
codeup_df = acquire_codeup_blog()
codeup_df

,title,published_date,blog_image,content
0,Codeup’s Data Science Career Accelerator is Here!,"September 30, 2018",https://codeup.com/wp-content/uploads/2018/10/...,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,"October 31, 2018",https://codeup.com/wp-content/uploads/2018/10/...,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"October 17, 2018",https://codeup.com/wp-content/uploads/2018/10/...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair,"August 14, 2018",None,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018",None,Competitor Bootcamps Are Closing. Is the Model...

### <font color ="blue"> 8. For each dataframe, produce the following columns:</font>

   * 'title' to hold the title
   * 'original' to hold the original article/post content
   * 'clean' to hold the normalized and tokenized original with the stopwords removed.
   * 'stemmed' to hold the stemmed version of the cleaned data.
   * 'lemmatized' to hold the lemmatized version of the cleaned data.

In [54]:
news_title = news_df["title"]
news_title

0      Air India pilots demand vaccination on priorit...
1      India underestimated the coronavirus: Raghuram...
2      South Korea's richest woman gets fortune worth...
3      World's biggest jeweller says it will no longe...
4      Will supply 11 cr doses to states, pvt hospita...
                             ...
142    Germany's Oktoberfest cancelled again in 2021 ...
143    Further violence in Myanmar could lead to civi...
144    Flash floods kill at least 12 in western Afgha...
145    Iraqi Health Minister resigns over hospital fi...
146    Myanmar indicts Japanese journalist on 'fake n...
Name: title, Length: 147, dtype: object

In [56]:
codeup_title = codeup_df["title"]
codeup_title

0    Codeup’s Data Science Career Accelerator is Here!
1                                   Data Science Myths
2    Data Science VS Data Analytics: What’s The Dif...
3          10 Tips to Crush It at the SA Tech Job Fair
4    Competitor Bootcamps Are Closing. Is the Model...
Name: title, dtype: object

In [57]:
news_original = news_df["content"]
news_original

0      Indian Commercial Pilots Association (ICPA) on...
1      Speaking about India's second COVID-19 wave, f...
2      South Korea’s richest woman Hong Ra-hee added ...
3      Pandora, the world's biggest jeweller, has sai...
4      Serum Institute of India (SII) CEO Adar Poonaw...
                             ...
142    Germany's Oktoberfest, the world's largest bee...
143    China's Ambassador to the UN Zhang Jun on Mond...
144    At least 12 people were killed by flash floods...
145    Iraq's Health Minister Hassan al-Tamimi steppe...
146    Japanese journalist Yuki Kitazumi detained by ...
Name: content, Length: 147, dtype: object

In [59]:
codeup_original = codeup_df["content"]
codeup_original

0    The rumors are true! The time has arrived. Cod...
1    By Dimitri Antoniou and Maggie Giust\nData Sci...
2    By Dimitri Antoniou\nA week ago, Codeup launch...
3    SA Tech Job Fair\nThe third bi-annual San Anto...
4    Competitor Bootcamps Are Closing. Is the Model...
Name: content, dtype: object

In [60]:
def prep_article_data(df, column, extra_words=[], exclude_words=[]):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the text article title, original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)\
                            .apply(lemmatize)
    
    df['stemmed'] = df[column].apply(basic_clean).apply(stem)
    
    df['lemmatized'] = df[column].apply(basic_clean).apply(lemmatize)
    
    return df[['title', column, 'stemmed', 'lemmatized', 'clean']]

In [66]:
clean_news = prep_article_data(news_df, 'content')
clean_news

,title,content,stemmed,lemmatized,clean
0,Air India pilots demand vaccination on priorit...,Indian Commercial Pilots Association (ICPA) on...,indian commerci pilot associ icpa on tuesday s...,indian commercial pilot association icpa on tu...,indian commercial pilot association icpa tuesd...
1,India underestimated the coronavirus: Raghuram...,"Speaking about India's second COVID-19 wave, f...",speak about india second covid19 wave former r...,speaking about india second covid19 wave forme...,speaking india second covid19 wave former rbi ...
2,South Korea's richest woman gets fortune worth...,South Korea’s richest woman Hong Ra-hee added ...,south korea richest woman hong rahe ad anoth 7...,south korea richest woman hong rahee added ano...,south korea richest woman hong rahee added ano...
3,World's biggest jeweller says it will no longe...,"Pandora, the world's biggest jeweller, has sai...",pandora the world biggest jewel ha said that i...,pandora the world biggest jeweller ha said tha...,pandora world biggest jeweller said itll stop ...
4,"Will supply 11 cr doses to states, pvt hospita...",Serum Institute of India (SII) CEO Adar Poonaw...,serum institut of india sii ceo adar poonawall...,serum institute of india sii ceo adar poonawal...,serum institute india sii ceo adar poonawalla ...
...,...,...,...,...,...
142,Germany's Oktoberfest cancelled again in 2021 ...,"Germany's Oktoberfest, the world's largest bee...",germani oktoberfest the world largest beer fes...,germany oktoberfest the world largest beer fes...,germany oktoberfest world largest beer festiva...
143,Further violence in Myanmar could lead to civi...,China's Ambassador to the UN Zhang Jun on Mond...,china ambassador to the un zhang jun on monday...,china ambassador to the un zhang jun on monday...,china ambassador un zhang jun monday said viol...
144,Flash floods kill at least 12 in western Afgha...,At least 12 people were killed by flash floods...,at least 12 peopl were kill by flash flood in ...,at least 12 people were killed by flash flood ...,least 12 people killed flash flood afghanistan...
145,Iraqi Health Minister resigns over hospital fi...,Iraq's Health Minister Hassan al-Tamimi steppe...,iraq health minist hassan altamimi step down f...,iraq health minister hassan altamimi stepped d...,iraq health minister hassan altamimi stepped p...
146,Myanmar indicts Japanese journalist on 'fake n...,Japanese journalist Yuki Kitazumi detained by ...,japanes journalist yuki kitazumi detain by sec...,japanese journalist yuki kitazumi detained by ...,japanese journalist yuki kitazumi detained sec...

In [67]:
clean_codeup = prep_article_data(codeup_df, 'content')
clean_codeup

,title,content,stemmed,lemmatized,clean
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,the rumor are true the time ha arriv codeup ha...,the rumor are true the time ha arrived codeup ...,rumor true time arrived codeup officially open...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...,by dimitri antoni and maggi giust data scienc ...,by dimitri antoniou and maggie giust data scie...,dimitri antoniou maggie giust data science big...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch...",by dimitri antoni a week ago codeup launch our...,by dimitri antoniou a week ago codeup launched...,dimitri antoniou week ago codeup launched imme...
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...,sa tech job fair the third biannual san antoni...,sa tech job fair the third biannual san antoni...,sa tech job fair third biannual san antonio te...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,competitor bootcamp are close is the model in ...,competitor bootcamps are closing is the model ...,competitor bootcamps closing model danger prog...

### <font color ="blue"> 9. Ask yourself:

* If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?